{% extends 'listings/base.html' %} <!-- Fait en sorte que ce template hérite du template de base -->

{% block content %} <!-- Début du bloc qui sera ajouté à la base -->

        <h1>Affiches ({{ listings|length }} affiches) :</h1>
        <ul>
            {% for listing in listings %} <!-- For dans le html -->
            <li><a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a></li>
            {% endfor %}
        </ul>

        <a href="{% url 'listing-create' %}">Ajouter une annonce</a>
{% endblock %}